.sign-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  .sign-up-container {
    width: 432px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;
    background-color: #fff;

    .sign-up-header {
      width: 100%;
      height: 82px;
      padding: 10px 16px;
      border-bottom: 1px solid #dadde1;

      .main-text {
        width: 100%;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          font-size: 32px;
          line-height: 38px;
          font-weight: bold;
          color: #1c1e21;
        }

        .close {
          width: 24px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            cursor: pointer;
            font-size: 24px;
          }
        }
      }
      .sub-text {
        width: 100%;
        height: 24px;
        padding-top: 4px;
        font-size: 15px;
        color: #606770;
      }
    }

    .sign-up-content {
      width: 100%;
      padding: 16px;

      .sign-up-error {
        margin: 12px 0;
        padding: 7px 3px;
        line-height: 18px;
        text-align: center;
        border: 1px solid #dd3c10;
        background-color: #ffebe8;
        .error-text {
          font-size: 12.5px;
          color: #1c1e21;
        }
      }

      .name-container {
        width: 100%;
        height: 40px;
        display: flex;
        column-gap: 12px;

        .first-name {
          width: calc(50% - 6px);
          height: 40px;
          padding: 10px;
          display: flex;
          align-items: center;
          border-radius: 4px;
          border: 1px solid #ccd0d5;
          background-color: #f5f6f7;
          .first-name-input {
            width: 100%;
            height: 100%;
            font-size: 15px;
            line-height: 16px;
            outline: none;
            border: none;
            background-color: transparent;

            ::placeholder {
              color: #8d949e;
            }
          }
          .icon {
            font-size: 17px;
            color: #b94a48;
          }
        }

        .first-name-error {
          border: 1px solid #ff0000;
        }
        .sur-name {
          width: calc(50% - 6px);
          height: 40px;
          padding: 10px;
          display: flex;
          align-items: center;
          border-radius: 4px;
          border: 1px solid #ccd0d5;
          background-color: #f5f6f7;
          .sur-name-input {
            width: 100%;
            height: 100%;
            font-size: 15px;
            line-height: 16px;
            outline: none;
            border: none;
            background-color: transparent;

            ::placeholder {
              color: #8d949e;
            }
          }
          .icon {
            font-size: 17px;
            color: #b94a48;
          }
        }
        .sur-name-error {
          border: 1px solid #ff0000;
        }
      }

      .email-phone {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #ccd0d5;
        background-color: #f5f6f7;

        .email-phone-input {
          width: 100%;
          height: 100%;
          font-size: 15px;
          line-height: 16px;
          outline: none;
          border: none;
          background-color: transparent;

          ::placeholder {
            color: #8d949e;
          }
        }
        .icon {
          font-size: 17px;
          color: #b94a48;
        }
      }

      .email-phone-error {
        border: 1px solid #ff0000;
      }

      .new-password {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #ccd0d5;
        background-color: #f5f6f7;

        .new-password-input {
          width: 100%;
          height: 100%;
          font-size: 15px;
          line-height: 16px;
          outline: none;
          border: none;
          background-color: transparent;

          ::placeholder {
            color: #8d949e;
          }
        }
        .icon {
          font-size: 17px;
          color: #b94a48;
        }
      }

      .new-password-error {
        border: 1px solid #ff0000;
      }

      .date-of-birth {
        width: 100%;
        margin-top: 10px;

        .small-text {
          width: 100%;
          height: 20px;
          margin-bottom: 5px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .small-text-left {
            .text {
              margin-right: 5px;
              font-size: 12px;
              color: #606770;
            }
            .icon {
              font-size: 12px;
              color: #606770;
            }
          }

          .icon {
            font-size: 17px;
            color: #b94a48;
          }
        }
        .date-of-bird-picker {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .date-picker,
          .month-picker,
          .year-picker {
            width: 125px;
            height: 36px;
            position: relative;
            .date,
            .month,
            .year {
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              width: 100%;
              height: 100%;
              padding: 0 20px 0 12px;
              outline: none;
              font-size: 15px;
              border-radius: 4px;
              border: 1px solid #ccd0d5;
            }
            .date-error,
            .month-error,
            .year-error {
              border: 1px solid #ff0000;
            }
            .custom-select-arrow {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-left: none;
              user-select: none;

              .icon {
                font-size: 12px;
              }
            }
          }
        }
      }

      .gender {
        width: 100%;
        margin-top: 10px;

        .small-text {
          width: 100%;
          height: 20px;
          margin-bottom: 5px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .small-text-left {
            .text {
              margin-right: 5px;
              font-size: 12px;
              color: #606770;
            }
            .icon {
              font-size: 12px;
              color: #606770;
            }
          }

          .icon {
            font-size: 17px;
            color: #b94a48;
          }
        }

        .gender-picker-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .female {
            width: calc(50% - 6px);
            height: 36px;
            display: flex;
            align-items: center;
            font-size: 15px;
            padding: 0 10px 0 10px;
            border-radius: 4px;
            border: 1px solid #ccd0d5;

            .female-label {
              width: 95%;
              user-select: none;
            }
          }
          .male {
            width: calc(50% - 6px);
            height: 36px;
            display: flex;
            align-items: center;
            font-size: 15px;
            padding: 0 10px 0 10px;
            border-radius: 4px;
            border: 1px solid #ccd0d5;

            .male-label {
              width: 95%;
              user-select: none;
            }
          }

          .female-error,
          .male-error {
            border: 1px solid #ff0000;
          }
        }
      }

      .information-text {
        width: 100%;
        margin: 11px 0;
        font-size: 11px;
        color: #777777;

        a {
          text-decoration: none;
          color: #385898;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .privacy-text {
        width: 100%;
        margin: 11px 0;
        font-size: 11px;
        color: #777777;

        a {
          text-decoration: none;
          color: #385898;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .sign-up-submit {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;

        .sign-up-btn {
          width: 194px;
          height: 36px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          border: none;
          border-radius: 6px;
          color: #fff;
          background-color: #00a400;
          transition: opacity 0.3 ease-in-out;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
