@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");


:root {
  --primary: #0866ff;

  --bg-primary: #f0f2f5;

  --text-color: #050505;
  --text-primary: #65676b;
  // --box-shadow: 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 10px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #babec2;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
