.content-wrapper {
  width: calc(100% - 680px);
  min-height: calc(100vh - 56px);
  padding: 0 32px 0 32px;
  position: relative;
  top: 0;
  left: 340px;
  right: 340px;
  display: flex;  
  justify-content: center;
  background-color: var(--bg-primary);

  .content-container {
    width: 58.8%;
    height: fit-content;
  }

  @media screen and (max-width: 1600px) {
    .content-container {
      width: 76.8%; 
    }
  }
}
