.input-bio-wrapper {
  width: 100%;
  padding: 16px 16px 0 16px;

  .input-bio-container {
    width: 100%;
    .describe {
      width: 100%;
      height: 78px;
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid #0866ff;
      background-color: #fff;

      .input {
        width: 100%;
        height: 60px;
        text-align: center;
        resize: none;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        color: #050505;
        background-color: transparent;
      }

      &:hover {
        background-color: #f0f2f5;
      }
    }
    .count-input {
      margin: 4px 0 8px 0;
      text-align: end;
      font-size: 13px;
      line-height: 10px;
      color: #65676b;
    }

    .input-action {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .public {
        display: flex;
        align-items: center;
        gap: 8px;
        .icon {
          font-size: 20px;
          color: #050505;
        }
        .text {
          font-size: 15px;
          color: #050505;
        }
      }
      .action-btn {
        display: flex;
        align-items: center;
        gap: 3px;
        .cancel-btn {
          height: 36px;
          padding: 0 12px;
          border-radius: 5px;
          border: none;
          outline: none;
          font-size: 15px;
          font-weight: 500;
          color: #050505;
          background-color: #e4e6eb;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: #d8dadf;
          }
        }
        .save-btn-deActive {
          cursor: not-allowed;
          height: 36px;
          padding: 0 12px;
          border-radius: 5px;
          border: none;
          outline: none;
          font-size: 15px;
          font-weight: 500;
          color: #bcc0c4;
          background-color: #e4e6eb;
        }
        .save-btn-active {
          height: 36px;
          padding: 0 12px;
          border-radius: 5px;
          border: none;
          outline: none;
          font-size: 15px;
          font-weight: 500;
          color: #fff;
          background-color: #0866ff;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: #0861f2;
          }
        }
      }
    }
  }
}
